/* Overrides the original theme rules to sharpen the text/background contrast */
body {
	background: #f9f9f9; /*#f2f2f2; ORIG*/
	color: #606060; /*#767676; ORIG*/
}
h1, h2, h3, h4, h5, h6 {
	color: #5a5a5a; /*#646464; ORIG*/
}
a {
	color: #3b9cbf; /*#44b1d9; ORIG*/
}
/* End theme overrides */

.plain-text {
	font-family: Arial, Helvetica, sans-serif;
}
.staffmember hr {
	margin-top: 20px;
}
.staff-table {
	vertical-align: top;
	margin-left: 50px;
}
.staff-table p {
	margin-bottom: 0px:
}
.staffimage {
	float: left;
	margin-right: 20px;
	margin-bottom: 4px;
}

.listsqbullet {
	margin-left: 20px;
	list-style-position: inside;
	list-style-type: square;
}
#newsletter-list {
	list-style-image: url(../images/arrow_black.png);
	list-style-position: inside;
}
hr, .h {
	clear: both;
}
.partner-list-block {
	width: 490px;
	padding: 0px;
	height: 350px;
	border: 2px solid #44B1D9;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.partner-list {
	list-style-position: inside;
	list-style-type: disc;
	display: block;
	float: left;
	width: 200px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 15px;
}
.partner-list-wrap {
	padding-left: 16px;
}
.partner-list-heading {
	font-size: 14px;
	text-align: center;
	clear: both;
	margin-top: 20px;
	font-weight: 600;
	text-transform: none;
	background-color: #666;
	color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-variant: small-caps;
}
.partner-heading {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-left: 30px;
	background-color: #666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 40px;
	clear: none;
	color: #fff;
	font-variant: small-caps;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


div.partner-block {
	width: 90%;
	font-size: 13px;
	line-height: 17px;
	margin-left: 60px;
	clear: both;
}
div.partner-logo {
	float: left;
	width: 200px;
	background-color: #fff;
	margin-right: 20px;
	margin-bottom: 4px;
	padding: 12px;
	border: 1px solid #bbb;
}
div.partner-logo a img{
}
div.partner-header-logo {
	width: 240px;
	padding: 24px;
	background-color: #FFF;
	margin-bottom: 20px;
	margin-left: 80px;
	border: 1px solid #bbb;
}


.partner-page {
}
.partner-page h4 {
	margin: 20px 0px 0px;
}
.partner-page .partner-photo img {
	border: 1px solid #444;
}

.header-margins {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}

.big-quote {
	width: 80%;
}
.green {
	color: #009531;
}
.shipstone-diagram {
	background-color: #fff;
	margin-left: 200px;
	padding-top: 20px;
	border: 1px solid #44B1D9;
}
.training-table {
	border-collapse: collapse;
	margin-left: 80px;
}
.training-table th, .training-table td {
	border: 1px solid #777;
	padding: 4px 14px 4px 14px;
}
.indent-std {
	margin-left: 50px;
}

.training-table th {
	background-color: #E3E3E3;
}
.news-title {
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, serif;
	font-size: 20px;
	font-weight: bold;
}
.news-header img, .news-title,  {
	margin-bottom: 10px;
}

.bcbr-logo {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	padding: 4px;
}
.camera-logo {
	width: 200px;
	margin-bottom: -10px;
}
.examiner-logo {
	width: 220px;
	height: 42px;
	border: 8px solid #000;
}
.venture-logo {
	background-color: #FFF;
	height: 30px;
	width: 130px;
	text-align: center;
	padding: 10px;
}
.headline-link {
	font-size: 18px;
	color: #0CF;
}
.contact h3 {
	margin: 0px;
}
.contact p {
	margin-bottom: 20px;
}
.hanging-indent {
	text-indent: -20px;
	padding-left: 20px;
}
ul.privacy {
	list-style-position: inside;
}
span.under {
	text-decoration: underline;
}
p.marg-top {
	margin-top: 20px;
}
.pro-table {
	width: 800px;
	margin-top: 30px;
	padding: 6px;
	border: 1px solid #444;
}
.pro-table tr, .pro-table td {
	padding: 6px;
	border: 1px solid #444;
}
.pro-table td:first-child {
	width: 180px;
}
.pro-table td:nth-child(2),
.pro-table td:nth-child(3),
.pro-table td:nth-child(4),
.pro-table td:nth-child(5) {
	width: 60px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.supertext {
	font-size:0.7em;
	vertical-align:super
}
.pro-text span {
	font-family: Arial, Helvetica, sans-serif;
}
.launch-special {
	float:left;
	width:60px;
	margin:0px 10px 0px 10px;
}


/* pro features table */
.features-table {
	width:auto;
	margin-left: auto;
	margin-right: auto;
	/*empty-cells: show;*/
}
/* section header rules */
.features-table tr.section-header,
.features-table tr.section-header-mods {
	font-weight: bold;
	background-color: #FFF;
}
.features-table tr.section-header td,
.features-table tr.section-header-mods td {
	text-align: center;
	line-height: 14px;
	color:  #44b1d9; /* blue text */
}
.features-table tr.section-header td:first-child {
	font-size: 20px;
	line-height: 20px;
}
.features-table tr.section-header {
	margin-top: 20px;
}
.features-table .header-mods {
	background-color: #d9f7d9; /*#e1ffe1; light green*/
}

/* section sub-header and item rules */
.features-table tr.section-sub-header td {
	text-align: center;
	line-height: 14px;
	color:  #777;
}
.features-table tr.section-item td {
	text-align: center;
	line-height: 14px;
	color:  #555;
}
.features-table tr.section-header td,
.features-table tr.section-sub-header td,
.features-table tr.section-item td {
	padding: 5px 10px 5px 10px;
}
.features-table tr.section-sub-header td {
	font-weight: bold;
}
.features-table tr.section-header td:first-child,
.features-table tr.section-sub-header td:first-child,
.features-table tr.section-item td:first-child {
	text-align: left;
}

.features-table tr.section-item td span {
	padding: 6px 10px 6px 10px;
}

/* all text on the chart, cols 2-6*/
.features-table tr.section-item td:nth-child(2),
.features-table tr.section-item td:nth-child(3),
.features-table tr.section-item td:nth-child(4),
.features-table tr.section-item td:nth-child(5),
.features-table tr.section-item td:nth-child(6),
.features-table tr.section-item td:nth-child(7),
.features-table tr.section-item td:nth-child(8),
.features-table tr.section-sub-header td:nth-child(2),
.features-table tr.section-sub-header td:nth-child(3),
.features-table tr.section-sub-header td:nth-child(4),
.features-table tr.section-sub-header td:nth-child(5),
.features-table tr.section-sub-header td:nth-child(6),
.features-table tr.section-sub-header td:nth-child(7),
.features-table tr.section-sub-header td:nth-child(8) {
	width: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 12px;
	font-weight: 600;
	color:  #555;
}
.features-table .small-font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	font-weight: 600;
	color:  #555;
}

/* space between last item row and next header */
.features-table tr.spacer {
	height: 20px;
}

/* rows */
.odd {
	background-color: #f1f1f1;
	/*border-bottom: 1px solid #eee;*/
}
.even {
	/*background-color: #f0f0f0;*/
	/*border-bottom: 1px solid #eee;*/
}

/* columns */
.alt {
	/*background-color: #fdfdfd;*/
	border-left: 1px solid #d9d9d9;
	/*border-right: 1px solid #eee;*/
}
.alt2 {
	/*background-color: #fdfdfd;*/
	border-left: 1px solid #d9d9d9;
	/*border-right: 1px solid #eee;*/
}

/* section header columns - alternating */
/*.features-table tr.section-header td:nth-child(1),
.features-table tr.section-header td:nth-child(3),
.features-table tr.section-header td:nth-child(5) {
	background-color: #fff;
}
.features-table tr.section-header td:nth-child(2),
.features-table tr.section-header td:nth-child(4),
.features-table tr.section-header td:nth-child(6) {
	background-color: #fff; 
} */ /*#f5f9ff;*/   

/* sub header and body cell columns - alternating */
/*.features-table tr.section-sub-header td:nth-child(1),
.features-table tr.section-sub-header td:nth-child(3),
.features-table tr.section-sub-header td:nth-child(5),
.features-table tr.section-item td:nth-child(1),
.features-table tr.section-item td:nth-child(3),
.features-table tr.section-item td:nth-child(5) {
	background-color: #eee;
}
.features-table tr.section-sub-header td:nth-child(2),
.features-table tr.section-sub-header td:nth-child(4),
.features-table tr.section-sub-header td:nth-child(6),
.features-table tr.section-item td:nth-child(2),
.features-table tr.section-item td:nth-child(4),
.features-table tr.section-item td:nth-child(6) {
	background-color: #ddd; 
}*/  /*#e8e8e8;*/ /*#f5f9ff;*/

/* end pro features table */

.diffs-table {
	border-collapse: collapse;
	margin-left: 80px;
	color: #111;
	text-shadow: none;
}
.diffs-table th, .diffs-table td {
	border: none; /*border: 1px solid #777;*/
	padding: 4px 14px 4px 14px;
}
.diffs-table tr.odd {
	background-color: #e8e8e8;
}
.diffs-table tr.even {
	background-color: #f3f3f3;
}

.modal-backdrop {
  z-index: -1;
}

.table-content, .p {
	color:#767676;
}

.table-content, .focused {

}

.modal {
	width: 800px;
	margin: -250px -400px;
}

.no-bottom {
	border-bottom:0px;
}

.light {
	color: #f4f4f4;
}

.nav-tabs > li > a {
	font-size: 18px;
}

.z-tabs.vertical > ul.z-tabs-nav.z-tabs-desktop {
	width: 10%;
}

.sub-tab {
	font-size:14px;
	font-style:italic;
}

.button-subtext {
	font-size:12px; 
}

.modal {
	z-index:9000;
}

.modal-open {
	z-index:9000;
}

.z-tabs.vertical > ul > li.z-active > a {
	z-index: 8;
}

