Requirements for sign_in-mockup.htm

My goal is to create side-by-side forms that can be used to either sign in to a site or create a new account.

I have made a mockup in Photoshop - Signin mockup.pdf. It is very crude and not meant to look like the final result.

Here are the documents and web pages for this project:

Signin mockup.pdf - An approximation of what the finished page should look like. Note that I did not try to match the fonts and colors - those should be taken from the original page, not this mockup.

style.css - The custom style page for the site. This is where the styles should be recorded. Put them at the bottom, clearly marked. Do not change any existing styles.

sign_in-mockup.htm - the html file for the project. Work only in the area between the "Content starts" and "Contend ends" sections. The reference to <link href="http://54.241.207.82/css/style.css" media="screen" rel="stylesheet" type="text/css" /> should be replaced with the local copy of style.css while you work.

http://glacial-cliffs-6111.herokuapp.com/account/sign_in and
http://glacial-cliffs-6111.herokuapp.com/account/sign_up

These are the current forms, which are unacceptable. The goal is to create a single form.